@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
}

body {
    font-family: 'Sofia Sans', sans-serif;
    background: #0f2d37;
}

.margin-a {
    text-align: center;
}

.text-xs {
    font-size: 0.8rem !important; 
}

.text-md {
    font-size: 1.1rem;
}

.text-lg {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-xl {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
    max-width: 800px;
    box-shadow: -1px 0px 20px 1px rgba(0,0,0,0.2);
    background: #fff;
}

.mt-1 {
    margin-top: 1rem;
}

.main {
    padding: 1rem;
    margin: .5rem auto;
    text-align: center;    
}

.main {
    background: #eee;;
}


.main-img {
    width: 150px;
    height: 150px;
    margin: 1rem 0;
}

.links-container {
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.main-links {
    display: grid;
    flex-direction: column;
    gap: 5px;
    grid-template-columns: repeat(6, 1fr);
}

.main-subtitle {
    margin-top: 1rem;
}

a {
    text-decoration: none;
}

ul {
    margin: 1.5rem 0;
    list-style-type: none;
}

li {
    text-decoration: none;
    padding: 5px;
    font-size: 1.1rem;
}

li + li {
    margin-right: 5px;
}

.result-card {
    display: flex;
    padding: .75rem 1rem;
    color: #eee;
    background-image: linear-gradient(rgb(3, 12, 126), rgb(15, 17, 81));
    box-shadow: -1px 0px 20px 1px rgba(0,0,0,0.2);
    width: 700px;
    flex-direction: column;
    margin: 1.5rem auto;
    border-radius: 5px;
    border: none;
}

.match-info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}


.match-info h2 {
    margin-bottom: 5px;
}

.btn {
    display: block;
    margin: 1rem auto;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: -1px 0px 20px 1px rgba(0,0,0,0.2);
}

.btn:hover, .btn:focus {
    background: #045a77;
    transition: ease-in 0.2s;
}

.btn-primary {
    background-color: #008CBA;
    color: white;
}

.btn-matchday {
    background: #000080;
    color: #eee;
    font-weight: bold;
    padding: 1rem;
    text-transform: uppercase;
}

.upper {
    text-transform: uppercase;
    font-weight: bold;
}

.btn-secondary {
    background: rgb(208, 2, 27);
    color: white;
}

.teams {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: center;
}

.team {
    display: flex; 
    padding: 1rem;
    margin-top: .5rem;
    margin-bottom: .75rem;
    justify-content: space-between;
    align-items: center;
}

.team-name {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}

.goals {
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 1rem;
    margin-bottom: 3px;
    align-self: flex-end;
}

.goal-stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-stuff {
    display: flex;
    align-items: center;
}

.team-badge {
    height: 45px;
    width: 45px;
    margin-right: 10px;
    margin-left: 1rem;
}

.goal-scorers {
    margin-top: 3px;
    max-width: 400px;
    font-size: 14px;
    font-weight: bold;
}

.redcard {
    height: 14px;
    width: 14px;
}

span + span {
    margin-top: 3px;
}

